<!DOCTYPE html>
<html>
<head>
  <title>Mix</title>
  <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
  <div id="bind-attribute">
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds to see my dynamically bound title!
    </span>
  </div>
  <div id="conditional-rendering">
    <span v-if="seen">Now you see me</span>
  </div>
  <div id="counter">
    Counter: {{ counter }}
  </div>
  <div id="event-handling">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>
  <div id="two-way-binding">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>
</body>
<script src="../bind-attribute/bind-attribute.js"></script>
<script src="../conditional-rendering/conditional-rendering.js"></script>
<script src="../counter/counter.js"></script>
<script src="../event-handling/event-handling.js"></script>
<script src="../two-way-binding/two-way-binding.js"></script>
</html>
